/* styles.css */
/* index styling */
.body1 {
  background-image: url(../img/childroom.jpeg);
  background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	background-size: cover;
  align-items: center;
}


.notewords {
  text-color: black;
}

.notepad {
top: 50px;
height: 700px;
width: 700px;
position: absolute;
right: 430px;
z-index: -1;
}

outline {
outline-style: solid;
outline-color: black; /* Set the outline color to white */
}

.typewriter1 {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid darkblue; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  text-align: center;
  padding: 200px;
	
  animation: 
    typing 6s steps(65, end),
    blink-caret .75s step-end infinite;
}

/* The typing effect */
 @keyframes typing {
 from {width: 0; }
 to {width: 15ch; }
}

 @keyframes blink-caret {
  from, to {border-color: transparent; }
  25% { border-color: white; }
}


/* Styling for Page 2 */
.body2 {
  background-image: url(../img/Winterforest2.gif);
  background-repeat: no-repeat;
	background-position: right;
	background-attachment: fixed;
	background-size: cover;
	background-color: whitesmoke;
}

.winterheader {
  align-items: center;
  text-align: center;
  padding: 150px;
}

.winterwords {
  position: absolute;
  text-align: center;
  left: 630px;
  bottom: 265px;
  z-index: 2;
}

.thesign {
  position: absolute;
  top: 100px;
  right: 480px;
  height: 520px;
  width: 580px;
  align-items: center;
}

.color-box {
  width: 330px;           /* Sets box width */
  height: 150px;          /* Sets box height */
  background-color: lightblue; /* Fills with color */
  position: absolute;
  left: 600px;
  bottom: 300px;

}

.snowyhill {
  size: cover;
  position: absolute;
  align-items: center;
  bottom: -300px;
  z-index: 1;
}

/* Styling for Page 3 */

.body3 {
  background-image: url(../img/rainystaircase.gif);
	background-repeat: no-repeat;
	background-position: 1000px;
	background-attachment: fixed;
  background-size: auto;
	background-color: black;
}

 .text p {
  font-size: 30px;
        font-family: monospace;
        color: white;
        line-height: 1.5;
        margin-top: 40px; /*Margin from header->firstline for readability*/
        opacity: 0;
        
        animation-name: display;
        animation-duration: 2s;
        animation-timing-function: ease-in;
        animation-delay: 3s;
        animation-iteration-count: 1;
        animation-direction: normal;
        animation-fill-mode: forwards;
      }

  .frame { /* the "." selects specific CLASS attributes; in this instance selects specific div.*/
   width: 75%; /*utilizing the FLEXBOX, instead of using margins, we use width since "justify-content" centered it, we are creating a frame in the exact middle." */
   height: 600px; /*defining the height of the frame*/
   position: relative; /*Acts as an anchor to its children, when it moves, they move.*/
   overflow: hidden;
     }
   @keyframes display {
      from {opacity:0; }
       to {opacity: 1; }
     }
   @keyframes text-translate {
       from {
       transform: translateY(0%); /*beginning translate value*/
      }
       to {
       transform: translateY(-90%); /*end translate value of the animation.*/
      }
     }

  .text {
      position: absolute; /*Sticks itself to its parent .frame. Essentially in another dimension*/
      width: 50%; /*Since the .text lives inside .frame, the width is 100% of the 95%. so they practically cover the same area.*/
      top:  50%;
      text-align: left; /* Places the text at the left of the screen*/

   /*longhand*/
      animation-name: text-translate; 
      animation-duration: 20s; /*total duration of the timing-function (steps)*/
      animation-timing-function: steps(20); /*breaks animation into 20 steps*/
      animation-delay: 2s; /*waits 6 seconds before playing*/
      animation-iteration-count: 1; /*total amount of times it is played(?)*/
      animation-direction: normal; /*decides if it plays normally, reverse or alternates between itself: normal/reverse/alternate*/
      animation-fill-mode: forwards; /*whether or not it adopts transformations or goes back to its original form.*/
      animation-play-state: running; /*on/off*/
        }
    
/*minor edits made to the same typing edit, the amount before the cursor stops typing */

.typewriter2 {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid darkblue; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  color:white;
  animation: 
    typing 3.5s steps(50, end),
    blink-caret .75s step-end infinite;
}

/* The typing effect */
 @keyframes typing {
 from {width: 0; }
 to {width: 32ch; }
}

 @keyframes blink-caret {
  from, to {border-color: transparent; }
  50% { border-color: black; }
}



/* styling for Page 4 */

.body4 {
  background-image: url(../img/movingsky.gif);
  background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	background-size: cover;
  align-items: center;
  padding: 65px;
}

.words {
  padding: 20px;
  text-decoration-style: wavy;
  position: absolute;
  right: 300px;
}

/*coding for images used*/
.grassyknoll {
	display: block;
	position: fixed;
	width: 100vw;
	height: 100vh;
  left: 0;
  top: 5px;
  z-index: 1;
}

.tower1 {
  display: block;
  position: fixed;
  rotate: 45deg;
  width: 350px;
  height: 500px;
  top: -55px;
  left: -70px;
  z-index: 2;
}

.tower2 {
  display: block;
  position: fixed;
  rotate: -20deg;
  width: 400px;
  height: 450px;
  margin-right: 50%;
  top: -10px;
  right: 100px;
  z-index: 2;
}

.tower3 {
  display: block;
  position: fixed;
  top: -40px;
  width: 400px;
  height: 500px;
  margin-left: 30%;
  z-index: 2;
}

/* Styling for Page 5 */

.body5 {
  background-image: url(../img/playroom.jpg);
  background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	background-size: cover;
  align-items: center;
}

.finger-paint-regular {
  font-family: "Finger Paint", sans-serif;
  font-weight: 400px;
  font-style: normal;
  position: absolute;
  font-size: 30px;
  bottom: 0px;
  left: 400px;
  color:darkblue;
  background-color: darkslategrey;
}

.clownplush {
  height: 300px;
  width: 300px;
  position: absolute;
  left: 70%;
  bottom: 20%
}

.car {
  height: 300px;
  width: 300px;
  position: absolute;
  right: 80%;
  top: 70%
}

.lego {
  height: 200px;
  width: 150px;
  position: absolute;
  left: 25%;
  bottom: 79%;
  rotate: 25deg;
}

/* Styling for Page 6 */

.body6 {
  background-image: url(../img/Loop\ Road\ GIF.gif);
  background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	background-size: cover;
  align-items: center;
}

.computer-words{
  font-family: monospace;
  font-size: 20px;
  color: white;
  position: absolute;
  bottom: 310px;
  right: 1010px;
  rotate: -12deg;
  z-index: 2;
}

.computer-words2 {
  font-family: monospace;
  font-size: 20px;
  color: white;
  position: absolute;
  bottom: 150px;
  right: 1000px;
  rotate: -12deg;
  z-index: 2;
}

.computer-words3 {
  font-family: monospace;
  font-size: 20px;
  color: white;
  position: absolute;
  bottom: 170px;
  right: 1009px;
  rotate: -12deg;
  z-index: 2;
}


.car-inside {
  display: block;
  position: fixed;
	width: 150vw;
	height: 130vh;
  right: -150px;
  top: 25px;
  rotate: -15deg;
  object-fit: cover;
}

.computer {
  display: block;
  position: fixed;
  rotate: -13deg;
  right: 820px;
  bottom: -40px;
  width: 40%;
}


/* Styling for Page 7 */

.body7 {
  background-image: url(../img/StarryGif.gif);
  background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	background-size: cover;
  align-items: center;
}
.frame { /* the "." selects specific CLASS attributes; in this instance selects specific div.*/
  width: 100%; /*utilizing the FLEXBOX, instead of using margins, we use width since "justify-content" centered it, we are creating a frame in the exact middle." */
  height: 600px; /*defining the height of the frame*/
  position: relative; /*Acts as an anchor to its children, when it moves, they move.*/
  overflow: hidden;
      }

.words h1 {
  font-size: 20px;
  font-family: monospace;
  color: white;
  width: 50ch; /*ch is a relative unit equal to the width of the "0" character of the font. We are using 26 because the header has 26 characters.*/
  overflow: hidden;
  white-space: nowrap; /*this property functions similarly to overflow. When the text reaches the boundaries of its container, the no wrap will make it not wrap vertically underneath it.*/
  border-right: solid; /* border-right is a property that selects the right of the border of the header, and create a solid line. This targets the visual look of it. Other attributes can be dotted, or dashed.*/
  border-right-width: 1.5px; /*defines the weight of the solid border*/
  border-right-color: white; /*defines the color*/

  margin: 0 auto;
  letter-spacing: .15em;
        
  animation:
    typing 8s steps(70, end),
    blink-caret .5s step-end infinite;
      }

.words h2{
  font-size: 20px;
  font-family: monospace;
  color: white;
  width: 55ch; /*ch is a relative unit equal to the width of the "0" character of the font. We are using 26 because the header has 26 characters.*/
  overflow: hidden;
  white-space: nowrap; /*this property functions similarly to overflow. When the text reaches the boundaries of its container, the no wrap will make it not wrap vertically underneath it.*/
  border-right: solid; /* border-right is a property that selects the right of the border of the header, and create a solid line. This targets the visual look of it. Other attributes can be dotted, or dashed.*/
  border-right-width: 1.5px; /*defines the weight of the solid border*/
  border-right-color: white; /*defines the color*/

  margin: 0 auto;
  letter-spacing: .15em;
        
  animation:
    typing 8s steps(70, end),
    blink-caret .5s step-end infinite;
}

  @keyframes typing {
   from {width: 0; }
   to {width: 50ch; }
      }
  @keyframes blink-caret {
   from, to {border-color: transparent; }
   50% { border-color: black; }

}

        /* Page 7 Images */
.milk-jug{ /* this is for Milk*/
  height: 250px;
  width: 200px;
  position: absolute;
  rotate: 55deg;
  left: 200px;
  top: 0px;
}

.underwear {
  bottom: 50px;
  left: 400px;
  height: 300px;
  width: 200px;
  position: absolute;
  rotate: -35deg;
}

.iron-poster {
  position: absolute;
  height: 300px;
  width: 200px;
  bottom: 375px;
  right: 0px;
  rotate: 15deg
}

.DoggiePic {
  position: absolute;
  height: 300px;
  width: 300px;
  bottom: 70px;
  right: 200px;
  rotate: -52deg
}


/* Styling for Page8 */
.body8 {
  background-image: url(../img/firebuilding.gif);
  background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	background-size: cover;
  align-items: center;
}

.Question {
  position: absolute;
  font-size: 35px;
  text-align: center;
  color: white;
  left: 70px;
  bottom: 470px;
}


.fireborder {
  position: absolute;
  top: 300px;
  width: 1500px;
  opacity: 75%;
}

.elmoonfire {
  position: absolute;
  bottom: 0px;
  height: 800px;
  left: 400px;
}

.runningpeople {
  width: 100%;
  height: 100%;
  position: absolute;
  align-items: center;
}


/* Styling for Page 9 */

.body9 {
  background-image: url(../img/sunset.gif);
  background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	background-size: cover;
  align-items: center;
}

.peaceful-words {
  position: absolute;
  align-items: center;
  text-align: center;
  right: 580px;
  top: 200px;
  color:beige
}

.backgroundbox {
  background-color: cadetblue;
  opacity: 70%;
}

/* Styling for Page 10 */

.body10 {
  background-image: url(../img/rainbowslide.gif);
  background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	background-size: cover;
  align-items: center;
}

.words h1 {
  font-size: 20px;
  font-family: monospace;
  color: white;
  width: 50ch; /*ch is a relative unit equal to the width of the "0" character of the font. We are using 26 because the header has 26 characters.*/
  overflow: hidden;
  white-space: nowrap; /*this property functions similarly to overflow. When the text reaches the boundaries of its container, the no wrap will make it not wrap vertically underneath it.*/
  border-right: solid; /* border-right is a property that selects the right of the border of the header, and create a solid line. This targets the visual look of it. Other attributes can be dotted, or dashed.*/
  border-right-width: 1.5px; /*defines the weight of the solid border*/
  border-right-color: white; /*defines the color*/

  margin: 0 auto;
  letter-spacing: .15em;
        
  animation:
    typing 8s steps(70, end),
    blink-caret .5s step-end infinite;
      }

@keyframes typing {
  from {width: 0; }
  to {width: 50ch; }
      }
@keyframes blink-caret {
  from, to {border-color: transparent; }
  50% { border-color: white; }

}

.indie-flower-regular {
  font-family: "Indie Flower", cursive;
  font-style: normal;
  position: absolute;
  font-size: 50px;
}

.blue-words {
  color: blue;
  left: 120px;
  top: 170px;
  font-family: "Indie Flower", cursive;
  font-style: normal;
  position: absolute;
  font-size: 50px;
}

.pink-words {
  color: pink;
  left: 90px;
  bottom: 50px;
  font-family: "Indie Flower", cursive;
  font-style: normal;
  position: absolute;
  font-size: 50px;
}

.purple-words {
   font-family: "Indie Flower", cursive;
  font-style: normal;
  position: absolute;
  font-size: 50px;
  color: purple;
  left: 400px;
  top: 20px;
}

.orange-words {
  color: orange;
  left: 350px;
  top: 250px;
   font-family: "Indie Flower", cursive;
  font-style: normal;
  position: absolute;
  font-size: 50px;
}

.green-words {
  color: green;
  left: 650px;
  top: 400px;
  font-family: "Indie Flower", cursive;
  font-style: normal;
  position: absolute;
  font-size: 50px;
}

.red-words {
  color: red;
  right: 430px;
  top: 500px;
   font-family: "Indie Flower", cursive;
  font-style: normal;
  position: absolute;
  font-size: 50px;
}

.yellow-words {
  color: yellow;
  right: 320px;
  top: 350px;
   font-family: "Indie Flower", cursive;
  font-style: normal;
  position: absolute;
  font-size: 50px;
}

.silver-words {
  color: silver;
  right: 500px;
  bottom: 350px;
   font-family: "Indie Flower", cursive;
  font-style: normal;
  position: absolute;
  font-size: 50px;
}

/* Styling for body11 */

.body11 {
  background-image: url(../img/movingcorridor.gif);
  background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	background-size: cover;
  align-items: center;
}

.text2 {
  position: absolute; 
  align-items: center;
  text-align: center; /* Places the text at the center of the screen*/
  top: 40%;
  right: 40%;
  color: white;

 }

 .fade-loop {
  /* Animation name, duration, timing, and iteration count */
  animation: fadeInOut 7s ease-in-out infinite;
}

@keyframes fadeInOut {
  0% { opacity: 0; }    /* Start invisible */
  50% { opacity: 1; }   /* Fully visible at the midpoint */
  100% { opacity: 0; }  /* End invisible */
}

.left-text {
  align-items: left;
  position: absolute;
  text-align: center;
  top: 50%;
  left: 100px;
  color: white;
  font-size: 55px;
}

.right-text {
  align-items: right;
  position: absolute;
  text-align: center;
  top: 50%;
  right: 100px;
  color: white;
  font-size: 55px;
}

/* Styling for body12*/

.body12 {
  background-image: url(../img/colorsky.gif);
  background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	background-size: cover;
  align-items: center;
}

.finalmessage {
  position:absolute;
  align-items: right;
  text-align: right;
  color:white;
  right: 0px;
  font-size: 20px;
}

.finalguide {
  position: absolute;
  bottom: 150px;
  right: 430px;
  font-size: 30px;
  align-items: center;
  text-align: center;
  z-index: 1;
  color: white;
}

.mrmoon {
  position: absolute;
  align-items: left;
  top: 10px;
  height: 50%;
  z-index: 1;
}

.fieldtop {
  size: cover;
  position: absolute;
  bottom: -300px;
  left: 0px;
}



